[submodule "pack/themes/opt/solarized8"]
	path = pack/themes/opt/solarized8
	url = https://github.com/lifepillar/vim-solarized8.git
[submodule "pack/default/start/yang"]
	path = pack/default/start/yang
	url = https://github.com/nathanalderson/yang.vim.git
[submodule "pack/default/start/vim-surround"]
	path = pack/default/start/vim-surround
	url = https://github.com/tpope/vim-surround.git
[submodule "pack/default/start/vim-snippets"]
	path = pack/default/start/vim-snippets
	url = https://github.com/honza/vim-snippets.git
[submodule "pack/default/start/vim-repeat"]
	path = pack/default/start/vim-repeat
	url = https://github.com/tpope/vim-repeat.git
[submodule "pack/default/start/vim-polyglot"]
	path = pack/default/start/vim-polyglot
	url = https://github.com/sheerun/vim-polyglot
[submodule "pack/default/start/vim-pencil"]
	path = pack/default/start/vim-pencil
	url = https://github.com/reedes/vim-pencil
[submodule "pack/default/start/vim-markdown"]
	path = pack/default/start/vim-markdown
	url = https://github.com/plasticboy/vim-markdown.git
[submodule "pack/default/start/vim-json"]
	path = pack/default/start/vim-json
	url = https://github.com/elzr/vim-json.git
[submodule "pack/default/start/vim-javascript"]
	path = pack/default/start/vim-javascript
	url = https://github.com/pangloss/vim-javascript.git
[submodule "pack/default/start/vim-isort"]
	path = pack/default/start/vim-isort
	url = https://github.com/fisadev/vim-isort.git
[submodule "pack/default/start/vim-indent-guides"]
	path = pack/default/start/vim-indent-guides
	url = https://github.com/nathanaelkane/vim-indent-guides.git
[submodule "pack/default/start/vim-go"]
	path = pack/default/start/vim-go
	url = https://github.com/fatih/vim-go.git
[submodule "pack/default/start/vim-gitgutter"]
	path = pack/default/start/vim-gitgutter
	url = https://github.com/airblade/vim-gitgutter.git
[submodule "pack/default/start/vim-fugitive"]
	path = pack/default/start/vim-fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "pack/default/start/vim-airline-themes"]
	path = pack/default/start/vim-airline-themes
	url = https://github.com/vim-airline/vim-airline-themes.git
[submodule "pack/default/start/vim-airline"]
	path = pack/default/start/vim-airline
	url = https://github.com/vim-airline/vim-airline
[submodule "pack/default/start/vim-ultisnips"]
	path = pack/default/start/vim-ultisnips
	url = https://github.com/SirVer/ultisnips.git
[submodule "pack/default/start/tabular"]
	path = pack/default/start/tabular
	url = https://github.com/godlygeek/tabular.git
[submodule "pack/default/start/nerdtree"]
	path = pack/default/start/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "pack/default/start/gist-vim"]
	path = pack/default/start/gist-vim
	url = https://github.com/mattn/gist-vim.git
[submodule "pack/default/start/ghost-text-vim"]
	path = pack/default/start/ghost-text-vim
	url = https://github.com/pandysong/ghost-text.vim.git
[submodule "pack/default/start/dash.vim"]
	path = pack/default/start/dash.vim
	url = https://github.com/rizzatti/dash.vim.git
[submodule "pack/default/start/vim-commentary"]
	path = pack/default/start/vim-commentary
	url = https://tpope.io/vim/commentary.git
[submodule "pack/default/start/ale"]
	path = pack/default/start/ale
	url = https://github.com/dense-analysis/ale.git
[submodule "pack/default/start/notational-fzf-vim"]
	path = pack/default/start/notational-fzf-vim
	url = https://github.com/alok/notational-fzf-vim.git
[submodule "pack/default/start/auto-pairs"]
	path = pack/default/start/auto-pairs
	url = https://github.com/jiangmiao/auto-pairs.git
