snippet mmtg "meeting notes template"
## (`date +"%Y%m%d"`)

### attendees

- XXX:
- arista:
- location: [ in-person | hangout | zoom ]

### discussion notes

- 

### action items / next steps

- 

endsnippet


snippet ains "action items / next steps"
### action items / next steps
- 

endsnippet
